.banner {
  position: relative;
  img {
    height: 530px;
    width: 100%;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 3px;
    left: 0;
    right: 0;
    background-color: $black-blue;
    opacity: .8;
    z-index: 1;
  }
  .text-banner {
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
    z-index: 2;
  }
}